@import url("../public/assets/toc2eQuickstartTheme/Engebrechtre/stylesheet.css");

// foundry's default styles mean our compendium pack names get cut off
.compendium-sidebar
  .directory-item.compendium[data-pack*="trail-of-cthulhu-2e"]
  h3 {
  // was 16px
  font-size: 1em;
  // was 80%
  max-width: 100%;
}

.toc-2e-quickstart {
  .journal-entry-pages {
    // background: url(/modules/toc-2e-quickstart/assets/toc2eQuickstartTheme/ToC_character_sheet_background.webp);
  }
  .scrollable {
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
  }
  article {
    background: url(/modules/toc-2e-quickstart/assets/toc2eQuickstartTheme/ToC_character_sheet_background.webp);
    background-repeat: repeat;
    padding: 1em;
  }
}
